<h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objectives:</strong>  <ul> <li>List popular languages for Data Science</li> <li>List commonly used libraries for Data Science</li> <li>List popular tools for Data Science</li> </ol>

Some of the popular languages that Data Scientists use are:

<ol> <li>python</li> <li>R</li> <li>java</li> </ol>

Some of the commonly used libraries used by Data Scientists include:

<ol> <li>pytorch</li> <li>caret</li> <li>scikit-learn</li> </ol>

Data Science Tools |
-------|
Jupyter notebooks | 
apache spark |
Tableau |

<h3> Below are a few examples of evaluating arithmetic expressions in Python. </h3>

In [11]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by diving by 60
200/6

33.333333333333336

<h2>Author</h2> <br>Rama Alshebel